.App {
  text-align: center;
  position: relative;
}

.error {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  color: mediumspringgreen;
  background-color: hotpink;
  top: 100px;
  left: 100px;
}